<!DOCTYPE html>
{% load static %}
{% load extra_filters %}
{% load bleach_tags %}


<html>
<head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

<!--  prevent favicon -->
<link rel="icon" href="data:,">

<link type="text/css" rel="stylesheet" href="{% static 'mainapp/base.css' %}">

<!--activate mathjax for math in markdown -->

<!-- source1:   https://stackoverflow.com/a/61321145/333403 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>

<!-- source2: https://github.com/mitya57/python-markdown-math  -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script>



<title>MainApp - Test APP</title>

</head>
<body>
{# This is a template comment. Its content will not be present in the rendered response. #}
{# `utc` means "unit test comment". This is a simple mechanism to be able to test if the desired content actually was delivered #}
<!--utc_landing_page-->

<div class="main">
    This content is dynamically generated during template-rendering (see views.py:): <b>{{greeting_message}}</b>.

    {# if this variable is not present nothing will be printed #}
    {% if data_len %}
        <br><br>
        Got {{data_len}} characters of form data.

    {% endif %}

    <br>
    <br>
    <hr>
    <br>
    The following text is loaded from "mainapp/contents/file1.md" and rendered directly in the template
    <br>
    <hr>

    {{md_src|render_markdown|bleach}}


    <hr>
    <br>
    This button should open an alert-dialog and add some debug-text to the console.
    <button id='button' href='#'>JS-Test-Button</button>

    <br>
    <hr>
    <br>
    <b>Example Form</b>
        <form method="post" action="{% url 'landingpage'%}" novalidate>
        {% csrf_token %}

        <input type="hidden" name="field0" value="some hidden value" >
        <input type="text" name="field1" value="default text" >
        <textarea name="field2" cols="50" rows="8">Some more text </textarea>

        <br>

        <button type="submit">Submit</button>
        </form>

</div>

<script type="text/javascript" src="{% static 'mainapp/main.js' %}"></script>

</body>
</html>
