

/* definition of variables */
:root {

    --color-gray-dark-text: #333;


}


html {
    font-family: sans-serif;
}




body {

    color: var(--color-gray-dark-text);
    background-color: #E5E5E7;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body a{
    color: inherit;
    text-decoration: none;
}

body a:hover{
    color: inherit;
    text-decoration: underline;
}

.main {

    color: var(--color-gray-dark-text);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    max-width: 35em;
    background-color: #FAFAFA;
}


table, th, td {
  border: 1px solid black;
}
